.bannerTitle {
  display: flex;
  flex: 0 0 35%;
  justify-content: space-around;
  flex-direction: column;
}

.bannerTitle h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  color: #8bb43c;
}

.bannerTitle button {
  background: #a5d364;
  border-radius: 110px;
}
