.banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  background: #f4efe9;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 45px;
}